Repository smartcontractkit/chainlink-ccip, changes with the owners that CODEOWNERS names for each.
All owners: @smartcontractkit/ccip-offchain, @smartcontractkit/ccip-onchain, @smartcontractkit/ccip-onchain-solana

CODEOWNERS:

# 2024-12-04 - The codeowners file is correct
* @smartcontractkit/ccip-offchain

# EVM contracts
/chains/evm @smartcontractkit/ccip-onchain
.github/workflows/**solidity** @smartcontractkit/ccip-onchain

# solana development ownership
/chains/solana @smartcontractkit/ccip-onchain-solana
.github/workflows/solana.yml @smartcontractkit/ccip-onchain-solana

Remove unnecessary writable constraints and add tests
  chains/solana/contracts/programs/ccip-common/src/context.rs
  chains/solana/contracts/programs/ccip-common/src/lib.rs
  chains/solana/contracts/programs/ccip-common/src/v1.rs
  chains/solana/contracts/programs/ccip-offramp/src/instructions/v1/execute.rs
  chains/solana/contracts/tests/ccip/ccip_router_test.go
  chains/solana/utils/ccip/ccip_errors.go
  chains/solana/utils/tokens/tokenpool.go
Owners: @smartcontractkit/ccip-onchain-solana

Remove TODO
  chains/solana/contracts/tests/ccip/ccip_router_test.go
Owners: @smartcontractkit/ccip-onchain-solana

Rename var
  chains/solana/contracts/programs/ccip-common/src/v1.rs
Owners: @smartcontractkit/ccip-onchain-solana

rm setup-node action
  .github/actions/setup-nodejs/action.yaml
  .github/workflows/solidity-build-and-publish.yml
  .github/workflows/solidity-foundry.yml
  .tool-versions
  chains/evm/scripts/lcov_prune
Owners: @smartcontractkit/ccip-offchain, @smartcontractkit/ccip-onchain

Update missing bindings
  chains/solana/contracts/target/idl/ccip_common.json
  chains/solana/contracts/target/types/ccip_common.ts
Owners: @smartcontractkit/ccip-onchain-solana

chore: dest token address validation in ccip_send
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/onramp.rs
  chains/solana/contracts/programs/ccip-router/src/lib.rs
Owners: @smartcontractkit/ccip-onchain-solana

fix: L6 Missing mint equality check in OnRamp::ccip_send
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/onramp.rs
Owners: @smartcontractkit/ccip-onchain-solana

fix: Missing mint owner check in set_pool
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/token_admin_registry.rs
Owners: @smartcontractkit/ccip-onchain-solana

fix: L10 Missing constraints in update_billing_token_config
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/admin.rs
  chains/solana/contracts/programs/fee-quoter/src/state.rs
Owners: @smartcontractkit/ccip-onchain-solana

fix: L11 Missing lane_code_version validation in fee-quoter’s validate_dest_chain_config
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/admin.rs
Owners: @smartcontractkit/ccip-onchain-solana

Update comment
  chains/solana/contracts/programs/ccip-offramp/src/context.rs
Owners: @smartcontractkit/ccip-onchain-solana

fix: processCommitReports: Log event rather than nil
  pkg/reader/ccip.go
Owners: @smartcontractkit/ccip-offchain

fix: processCommitReports: Log event rather than nil (#807)
  pkg/reader/ccip.go
Owners: @smartcontractkit/ccip-offchain

Data flow diagrams for Commit and Exec (#802)
  docs/diagrams/commit_data_flow.png
  docs/diagrams/data_flow_diagram.excalidraw
  docs/diagrams/exec_data_flow.png
Owners: @smartcontractkit/ccip-offchain

Update processed extra args to contain SVM specific token receiver
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/onramp.rs
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/messages.rs
  chains/solana/contracts/programs/fee-quoter/src/messages.rs
  chains/solana/contracts/target/idl/fee_quoter.json
  chains/solana/contracts/target/types/fee_quoter.ts
  chains/solana/gobindings/fee_quoter/types.go
Owners: @smartcontractkit/ccip-onchain-solana

Add source chain config validation
  chains/solana/contracts/programs/ccip-offramp/src/instructions/v1/admin.rs
  chains/solana/contracts/programs/ccip-offramp/src/state.rs
Owners: @smartcontractkit/ccip-onchain-solana

Missing OCR3 validations
  chains/solana/contracts/programs/ccip-offramp/src/instructions/v1/ocr3base.rs
  chains/solana/contracts/programs/ccip-offramp/src/lib.rs
Owners: @smartcontractkit/ccip-onchain-solana

Limit Exec to 20 messages tentatively
  execute/exectypes/commit_data.go
  execute/exectypes/observation.go
  execute/exectypes/outcome.go
  execute/observation.go
  execute/observation_test.go
  execute/plugin_e2e_test.go
Owners: @smartcontractkit/ccip-offchain
