Repository smartcontractkit/chainlink-ccip, changes with the owners that CODEOWNERS names for each.
All owners: @smartcontractkit/crib, @skudasov, @smartcontractkit/ccip, @smartcontractkit/don-automation

CODEOWNERS:

* @smartcontractkit/crib @skudasov

deployments/ccip-v2 @smartcontractkit/crib @smartcontractkit/ccip
dependencies/ccip-v2-scripts @smartcontractkit/crib @smartcontractkit/ccip

deployments/daas @smartcontractkit/crib @smartcontractkit/don-automation
dependencies/daas @smartcontractkit/crib @smartcontractkit/don-automation

test: idl generation
  chains/solana/contracts/Anchor.toml
  chains/solana/contracts/programs/access-controller/src/lib.rs
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/token_admin_registry.rs
  chains/solana/contracts/programs/timelock/src/instructions/initialize.rs
  chains/solana/contracts/target/idl/access_controller.json
Owners: @smartcontractkit/crib, @skudasov

test: pda seeds as bytes
  chains/solana/contracts/programs/base-token-pool/src/common.rs
  chains/solana/contracts/programs/ccip-offramp/src/context.rs
  chains/solana/contracts/programs/ccip-offramp/src/instructions/v1/pools.rs
  chains/solana/contracts/programs/ccip-router/src/context.rs
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/pools.rs
  chains/solana/contracts/programs/ccip-router/src/token_context.rs
  chains/solana/contracts/programs/example-burnmint-token-pool/src/context.rs
  chains/solana/contracts/programs/example-ccip-receiver/src/lib.rs
  chains/solana/contracts/programs/example-lockrelease-token-pool/src/context.rs
  chains/solana/contracts/programs/fee-quoter/src/context.rs
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/safe_deserialize.rs
  chains/solana/contracts/programs/test-ccip-invalid-receiver/src/lib.rs
  chains/solana/contracts/programs/test-ccip-receiver/src/lib.rs
  chains/solana/contracts/programs/test-token-pool/src/context.rs
  chains/solana/contracts/target/idl/base_token_pool.json
  chains/solana/contracts/target/idl/ccip_offramp.json
  chains/solana/contracts/target/idl/ccip_router.json
  chains/solana/contracts/target/idl/example_burnmint_token_pool.json
  chains/solana/contracts/target/idl/example_ccip_receiver.json
  chains/solana/contracts/target/idl/example_ccip_sender.json
  chains/solana/contracts/target/idl/example_lockrelease_token_pool.json
  chains/solana/contracts/target/idl/external_program_cpi_stub.json
  chains/solana/contracts/target/idl/fee_quoter.json
  chains/solana/contracts/target/idl/mcm.json
  chains/solana/contracts/target/idl/test_ccip_invalid_receiver.json
  chains/solana/contracts/target/idl/test_ccip_receiver.json
  chains/solana/contracts/target/idl/test_token_pool.json
  chains/solana/contracts/target/idl/timelock.json
Owners: @smartcontractkit/crib, @skudasov

Cleanup protoc
  Makefile
  commit/merkleroot/outcome_test.go
  commit/merkleroot/query_test.go
  mocks/commit/merkleroot/rmn/controller.go
Owners: @smartcontractkit/crib, @skudasov

Add missing import
  commit/merkleroot/outcome.go
Owners: @smartcontractkit/crib, @skudasov

Cleanup protoc
  .github/workflows/codegen.yml
Owners: @smartcontractkit/crib, @skudasov

Update mod
  go.mod
Owners: @smartcontractkit/crib, @skudasov

Fix test
  commit/factory_test.go
  commit/merkleroot/rmn/controller_test.go
Owners: @smartcontractkit/crib, @skudasov

Fix lint
  commit/factory_test.go
  commit/merkleroot/outcome.go
  commit/merkleroot/outcome_test.go
  commit/merkleroot/query.go
  commit/merkleroot/query_test.go
  commit/merkleroot/rmn/controller.go
  commit/merkleroot/rmn/controller_test.go
  commit/merkleroot/rmn/crypto.go
  commit/merkleroot/rmn/crypto_test.go
  commit/merkleroot/rmn/translatestruct.go
Owners: @smartcontractkit/crib, @skudasov

test: compile time seed gen
  chains/solana/contracts/Cargo.lock
  chains/solana/contracts/programs/ccip-offramp/src/context.rs
  chains/solana/contracts/programs/example-burnmint-token-pool/src/context.rs
  chains/solana/contracts/programs/example-burnmint-token-pool/src/lib.rs
  chains/solana/contracts/programs/example-lockrelease-token-pool/src/context.rs
  chains/solana/contracts/programs/example-lockrelease-token-pool/src/lib.rs
  chains/solana/contracts/programs/test-token-pool/src/context.rs
  chains/solana/contracts/programs/test-token-pool/src/lib.rs
  chains/solana/contracts/target/idl/test_token_pool.json
Owners: @smartcontractkit/crib, @skudasov

chore: revive test receiver
  chains/solana/contracts/Cargo.lock
Owners: @smartcontractkit/crib, @skudasov

Split offramp initialization into two methods to work around stack size limits
  chains/solana/contracts/programs/ccip-offramp/src/context.rs
  chains/solana/contracts/programs/ccip-offramp/src/lib.rs
  chains/solana/contracts/target/idl/ccip_offramp.json
  chains/solana/contracts/tests/ccip/ccip_router_test.go
  chains/solana/contracts/tests/testutils/localvalidator.go
  chains/solana/gobindings/ccip_offramp/Initialize.go
  chains/solana/gobindings/ccip_offramp/InitializeConfig.go
  chains/solana/gobindings/ccip_offramp/InitializeConfig_test.go
  chains/solana/gobindings/ccip_offramp/instructions.go
Owners: @smartcontractkit/crib, @skudasov

[Solana][NONEVM-1034] Error improvements, ccip_router edition. (#580)
  chains/solana/contracts/programs/ccip-router/src/context.rs
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/admin.rs
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/fees.rs
  chains/solana/contracts/programs/ccip-router/src/instructions/v1/onramp.rs
  chains/solana/contracts/programs/ccip-router/src/lib.rs
  chains/solana/contracts/programs/ccip-router/src/token_context.rs
  chains/solana/contracts/target/idl/ccip_router.json
  chains/solana/contracts/tests/ccip/ccip_router_test.go
  chains/solana/gobindings/ccip_router/types.go
Owners: @smartcontractkit/crib, @skudasov

solana: Export FeeQuoter IDL
  chains/solana/idl.go
Owners: @smartcontractkit/crib, @skudasov

solana: Export FeeQuoter IDL (#584)
  chains/solana/idl.go
Owners: @smartcontractkit/crib, @skudasov

add tests
  pluginconfig/commit.go
  pluginconfig/commit_test.go
Owners: @smartcontractkit/crib, @skudasov

fix lint warn
  pluginconfig/commit_test.go
Owners: @smartcontractkit/crib, @skudasov

typo
  pluginconfig/commit_test.go
Owners: @smartcontractkit/crib, @skudasov

Fix external RPC url (#396)
  dependencies/ccip-v2-scripts/config/config.go
Owners: @smartcontractkit/crib, @smartcontractkit/ccip

Initial version of split-render command (#395)
  .changeset/ninety-buckets-care.md
  cli/cmd/devspace.go
  cli/devspace/split_render.go
  cli/devspace/split_render_test.go
  deployments/ccip-v2/README.md
Owners: @smartcontractkit/crib, @skudasov, @smartcontractkit/ccip

running SetupAwsProfile only on CRIB-managed AWS Profiles
  .changeset/orange-horses-provide.md
  cli/cmd/init.go
  cli/utils/aws.go
Owners: @smartcontractkit/crib, @skudasov

chore: pin sol ver, pubkey in seeds
  chains/solana/contracts/Cargo.lock
  chains/solana/contracts/programs/base-token-pool/Cargo.toml
  chains/solana/contracts/programs/ccip-offramp/Cargo.toml
  chains/solana/contracts/programs/ccip-router/Cargo.toml
  chains/solana/contracts/programs/example-burnmint-token-pool/Cargo.toml
  chains/solana/contracts/programs/example-ccip-receiver/Cargo.toml
  chains/solana/contracts/programs/example-ccip-sender/Cargo.toml
  chains/solana/contracts/programs/example-lockrelease-token-pool/Cargo.toml
  chains/solana/contracts/programs/fee-quoter/Cargo.toml
  chains/solana/contracts/programs/test-ccip-invalid-receiver/Cargo.toml
  chains/solana/contracts/programs/test-ccip-invalid-receiver/src/lib.rs
  chains/solana/contracts/programs/test-ccip-receiver/Cargo.toml
  chains/solana/contracts/programs/test-token-pool/Cargo.toml
  chains/solana/contracts/target/idl/test_ccip_invalid_receiver.json
Owners: @smartcontractkit/crib, @skudasov

remove -it from docker build
  chains/solana/Makefile
Owners: @smartcontractkit/crib, @skudasov

WIP
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/prices.rs
  chains/solana/contracts/programs/fee-quoter/src/lib.rs
Owners: @smartcontractkit/crib, @skudasov

Improve fee quoter errors
  chains/solana/contracts/programs/fee-quoter/src/context.rs
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/admin.rs
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/messages.rs
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/prices.rs
  chains/solana/contracts/programs/fee-quoter/src/instructions/v1/safe_deserialize.rs
  chains/solana/contracts/programs/fee-quoter/src/lib.rs
  chains/solana/contracts/target/idl/fee_quoter.json
  chains/solana/contracts/tests/ccip/ccip_router_test.go
  chains/solana/gobindings/fee_quoter/types.go
Owners: @smartcontractkit/crib, @skudasov

remove -it from docker build (#586)
  chains/solana/Makefile
Owners: @smartcontractkit/crib, @skudasov

fix: unreachable ix parameter raw_report
  chains/solana/contracts/programs/ccip-offramp/src/context.rs
  chains/solana/contracts/programs/example-burnmint-token-pool/src/context.rs
  chains/solana/contracts/programs/example-ccip-receiver/src/lib.rs
  chains/solana/contracts/programs/example-ccip-sender/src/context.rs
  chains/solana/contracts/programs/example-ccip-sender/src/lib.rs
  chains/solana/contracts/programs/example-lockrelease-token-pool/src/context.rs
  chains/solana/contracts/programs/test-token-pool/src/context.rs
  chains/solana/contracts/target/idl/base_token_pool.json
  chains/solana/contracts/target/idl/ccip_offramp.json
  chains/solana/contracts/target/idl/example_burnmint_token_pool.json
  chains/solana/contracts/target/idl/example_ccip_sender.json
  chains/solana/contracts/target/idl/example_lockrelease_token_pool.json
Owners: @smartcontractkit/crib, @skudasov

Use shared RMN protos (#535)
  .github/workflows/codegen.yml
  Makefile
  commit/factory_test.go
  commit/merkleroot/outcome.go
  commit/merkleroot/outcome_test.go
  commit/merkleroot/query.go
  commit/merkleroot/query_test.go
  commit/merkleroot/rmn/controller.go
  commit/merkleroot/rmn/controller_test.go
  commit/merkleroot/rmn/crypto.go
  commit/merkleroot/rmn/crypto_test.go
  commit/merkleroot/rmn/rmnpb/rmn_offchain.pb.go
  commit/merkleroot/rmn/streamconfig.go
  commit/merkleroot/rmn/translatestruct.go
  go.mod
  go.sum
  mocks/commit/merkleroot/rmn/controller.go
Owners: @smartcontractkit/crib, @skudasov

chore: anchor build
  chains/solana/contracts/target/idl/ccip_offramp.json
Owners: @smartcontractkit/crib, @skudasov

pkg/reader: fix Errorw call
  pkg/reader/ccip.go
Owners: @smartcontractkit/crib, @skudasov

update finality to be 200 default
  dependencies/donut/chainlink-don.yaml
  dependencies/donut/scripts/network_configs/main.go
  dependencies/donut/values/chainlink-cluster/network.geth-chain-1337.yaml
  dependencies/donut/values/chainlink-cluster/network.geth-chain-2337.yaml
Owners: @smartcontractkit/crib, @skudasov

add obs duration logs
  commit/plugin.go
  execute/observation.go
Owners: @smartcontractkit/crib, @skudasov

Sketch in txm status observation code.
  execute/observation.go
Owners: @smartcontractkit/crib, @skudasov

Add observation duration related logs (#589)
  commit/plugin.go
  execute/observation.go
Owners: @smartcontractkit/crib, @skudasov

Add warnings to prevent rmn hard dependencies from being changed (#585)
  pluginconfig/commit.go
  pluginconfig/commit_test.go
Owners: @smartcontractkit/crib, @skudasov

prevent nil pointer dereference on ingress-check when spec.ingressClassName is not specified
  .changeset/young-students-sell.md
  cli/cmd/devspace.go
Owners: @smartcontractkit/crib, @skudasov

Config cache (#551)
  .mockery.yaml
  pkg/reader/ccip.go
  pkg/reader/ccip_interface.go
  pkg/reader/ccip_test.go
  pkg/reader/config_poller.go
  pkg/reader/config_poller_test.go
Owners: @smartcontractkit/crib, @skudasov

add makefile command to sync keys
  chains/solana/Makefile
Owners: @smartcontractkit/crib, @skudasov

pkg/reader: fix Errorw call (#588)
  pkg/reader/ccip.go
Owners: @smartcontractkit/crib, @skudasov

Update actions/cache ref
  .github/workflows/solana.yml
Owners: @smartcontractkit/crib, @skudasov

Log request IDs of timed out RMN requests
  commit/merkleroot/rmn/controller.go
Owners: @smartcontractkit/crib, @skudasov
